@using BootShop.Models;

@{
    Layout = "~/Views/Shop/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="../css/customer_info.css">

<div class="path">
    <a href="@Url.RouteUrl("Home")">Domů</a>
    <span>></span>
    <a href="@Url.RouteUrl("ShoppingCart")">Košík</a>
    <span>></span>
    <a href="@Url.RouteUrl("CustomerInfo")">Kontakt a Adresa</a>
</div>

<h2>Kontaktní Informace</h2>
<form method="post">
<div>
    <label style="display: flex; flex-direction: column;">
        <input required class="contact-input" type="text" name="email" placeholder="Email..." value="@ViewBag.contact">
        <input required class="contact-input" type="text" name="phone" placeholder="Telefonní číslo..." value="@ViewBag.contact">
    </label>
</div>

<div class="register-newsletter">
    <label>
        <input type="checkbox" name="agree" value="1">
        Chci dostávat upozornění o akcích a slevách
    </label>
</div>

<h2>Adresa</h2
    <div>
        <label>
            <input required class="name-input" type="text" name="name" placeholder="Jméno..." value="@ViewBag.name">
        </label>

        <label>
            <input required class="surname-input" type="text" name="surname" placeholder="Příjmení..." value="@ViewBag.surname">
        </label>
    </div>

    <div>
        <label>
            <input required class="contact-input" type="text" name="address" placeholder="Adresa..." value="@ViewBag.address">
        </label>
    </div>

    <div>
        <label>
            <input required class="contact-input" type="text" name="town" placeholder="Město..." value="@ViewBag.town">
        </label>
    </div>

    <div class="district-postal">
        <div class="district-select">
            <label>
                <select name="district" id="" required>
                    <option value="">-- vyber kraj --</option>
                    <optgroup label="Kraj">
                        <option value="1">Hlavní město Praha</option>
                        <option value="2">Středočeský kraj</option>
                        <option value="3">Jihočeský kraj</option>
                        <option value="4">Plzeňský kraj</option>
                        <option value="5">Karlovarský kraj</option>
                        <option value="6" selected>Ústecký kraj</option>
                        <option value="7">Liberecký kraj</option>
                        <option value="8">Královéhraceký kraj</option>
                        <option value="9">Pardubický Kraj</option>
                        <option value="10">Kraj Vysočina</option>
                        <option value="11">Jihomoravský Kraj</option>
                        <option value="12">Zlínský Kraj</option>
                        <option value="13">Holomócký kraj</option>
                        <option value="14">Moravskoslezký kraj</option>
                    </optgroup>
                </select>
            </label>
        </div>

        <label>
            <input required class="postal-input" type="text" name="postalCode" placeholder="PSČ..." value="@ViewBag.postalCode">
        </label>
    </div>

    <div class="return-continue">
        <a class="return-to-cart" href="@Url.RouteUrl("ShoppingCart")">< Vrátit se do košíku</a>

        <a href="@Url.RouteUrl("ShippingAndPayment")">Debílek nefunkční</a>
        <input type="submit" value="Pokračovat" class="continue-input"></input>
    </div>
</form>

<style>
    .continue-input {
        background: #c7232e;
        color: white;
        font-weight: bold;
        width: 120px;
        height: 35px;
    }

    .return-to-cart {
        color: #c7232e;
        font-weight: bold;
    }
</style>