@using BootShop.Models;

@{
    Layout = "~/Views/Shop/Shared/_Layout.cshtml";
}
<div class="main-banner">
    <img src="images/legs.png" width="100%" alt="" />
    <p class="main-banner-red-text">NOVÁ DÍVČÍ KOLEKCE<br>ŠETRNÁ K DĚTSKÝM NOHÁM</p>
    <p class="main-banner-blue-text">NEJEN DO MĚSTA,<br>ALE I DO PŘÍRODY</p>
    <button class="main-banner-button">zobrazit produkty</button>
</div>

<div class="boot-types-whole">
    <div class="boot-types-container">
        <img src="images/01.png" width="100%" alt="" />
        <p>KLUČIČÍ <br> BOTY</p>
    </div>
    <div class="boot-types-container">
        <img src="images/02.png" width="100%" alt="" />
        <p>DÍVČÍ BOTY</p>
    </div>
    <div class="boot-types-container">
        <img src="images/03-01.png" width="100%" alt="" />
        <p>JAK SPRÁVNĚ <br> VYBRAT?</p>
    </div>
</div>

<div class="divider"></div>

<div class="text-container">
    <p class="red-text">Nejnovější kousky&#160;</p>
    <p class="blue-text">v naší nabídce</p>
</div>

<div class="new-stock-container">
    @foreach (ProductVariant productVariant in ViewBag.ProductVariants)
    {
        <a href="@Url.RouteUrl("ProductDetail", new {id = @productVariant.Id})" class="new-stock-boots" style="text-decoration:none;">
            <img src="productImages/@productVariant.Product.PrimaryImageFilename" height="280" width="250">
            <p class="new-stock-boots-text new-stock-text-margin">@productVariant.Product.Name</p>
            <div class="price-container">
                <p class="text-price">@productVariant.PriceDiscount Kč</p>
                <p class="old-price">@productVariant.Price Kč</p>
            </div>
        </a>
    }
</div>

<div class="show-stock-button">
    <a href="@Url.RouteUrl("ProductList")">
        <button>zobrazit celou nabídku</button>
    </a>
</div>