@using BootShop.Models;

@{
    Layout = "~/Views/Shop/Shared/_Layout.cshtml";
}

<div class="text-container">
    <p class="red-text">Naše&nbsp;</p>
    <p class="blue-text">nabídka</p>
</div>

<div class="divider"></div>
<div>
<form method="post">
    <div data-role="main" class="ui-content">
        <h3>Filtrování a řazení:</h3>

        <h3>Cena</h3>
        <div data-role="rangeslider">
            <label for="price-min">od <span id="price-from-value">@ViewBag.PriceFrom</span></label>
            <input type="range" name="priceFrom" value="@ViewBag.PriceFrom" min="@ViewBag.PriceMin" max="@ViewBag.PriceMax" onchange="document.getElementById('price-from-value').innerText = this.value">
            <input type="range" name="priceTo" value="@ViewBag.PriceTo" min="@ViewBag.PriceMin" max="@ViewBag.PriceMax" onchange="document.getElementById('price-to-value').innerText = this.value">
            <label for="price-max">do <span id="price-to-value">@ViewBag.PriceTo</span></label>
        </div>

        <h3>Kategorie</h3>
        <select name="categoryId" class="category-select">
            <option value="">Vyberte kategorii</option>
            @foreach (Category category in ViewBag.Categories)
            {
                <option value="@category.Id" @(ViewBag.CategoryId == @category.Id ? "selected" : "")>@category.Name</option>
            }
        </select>

        <h3>Seřadit</h3>
        <select name=orderBy>
            <option value="">Doporučené</option>
            <option value="price" @(ViewBag.OrderBy == "price" ? "selected" : "")>Cena vzestupně</option>
            <option value="name" @(ViewBag.OrderBy == "name" ? "selected" : "")>Název vzestupně</option>
        </select>
        <div class="filtering-submit">
            <input type="submit" value="Zobrazit">
        </div>
        
    </div>
</form>
</div>
<div class="new-stock-container">
    @foreach (ProductVariant productVariant in ViewBag.ProductVariants)
    {
        <a href="@Url.RouteUrl("ProductDetail", new {id = @productVariant.Id})" class="new-stock-boots" style="text-decoration:none;">
            <img src="productImages/@productVariant.Product.PrimaryImageFilename" height="280" width="250">
            <p class="new-stock-boots-text new-stock-text-margin">@productVariant.Product.Name</p>
            <div class="price-container">
                <p class="text-price">@productVariant.PriceDiscount Kč</p>
                <p class="old-price">@productVariant.Price Kč</p>
            </div>
        </a>
    }
</div>

<style>

    .category-select-container {
        width: 300px;
        height: 50px;
        margin-bottom: 100px;
    }

    .category-select {
        margin: 0;
    }

    .category-filter {
        margin-left: 120px;
        margin-bottom: 100px;
    }

        .category-filter button {
            margin: 0;
        }

        .category-filter .dropdown-content {
            margin: 0;
        }

    .hr-divider {
        margin-left: 120px;
        margin-right: 120px;
    }

    form {
        margin-left: 105px;
        width: 500px;
    }

    .dropbtn {
        background-color: light-gray;
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
        margin-left: 120px;
        width: 200px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        margin-left: 120px;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #ddd;
    }

    .filtering-submit {
        margin-top: 10px;
    }
</style>