@using BootShop.Models;

@{
    Layout = "~/Views/Shop/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="../css/product_style.css">
<link rel="stylesheet" href="../css/style.css">

<div class="categories-text">
    <a href="">Domů</a>
    <span>></span>
    <a href="">Dívčí boty</a>
    <span>></span>
    <a href="">Tenisky</a>
</div>

<div class="product-container">
    <div class="product-image-text">
        <div class="product-images">
            <img src="../productImages/@ViewBag.ProductVariant.Product.PrimaryImageFilename" class="main-product-image" alt="">

            <div class="detail-images">
                @foreach (ProductPhoto productPhoto in ViewBag.ProductPhotos)
                {
                    <img src="../productImages/@productPhoto.Filename" class="left-image" alt="">
                }
            </div>
        </div>
        <div class="product-description">
            <div class="name-and-brand">
                <p class="product-name">@ViewBag.ProductVariant.Product.Name</p>
                <img src="../images/logo.webp" height="40" alt="">
            </div>

            <p class="product-description-text">@ViewBag.ProductVariant.Product.Description</p>
            <hr class="hr-splitter">
            <div class="color-size-container">
                <div class="color">
                    <p class="color-size">Barva</p>
                    <div class="color-selection">
                        @foreach (ProductVariant productVariant in ViewBag.DefaultProductVariantsForColors)
                        {
                            if (productVariant.ColorId == ViewBag.ProductVariant.ColorId)
                            {
                                <a href="@Url.RouteUrl("ProductDetail", new{id=productVariant.Id})"><div class="color-select" style="background:@productVariant.Color.HexCode; border: 3px solid red;"></div></a>
                            }
                            else
                            {
                                <a href="@Url.RouteUrl("ProductDetail", new{id=productVariant.Id})"><div class="color-select" style="background:@productVariant.Color.HexCode;"></div></a>
                            }   
                        }
                    </div>
                </div>

                <div class="size">
                    <p class="color-size">Velikost</p>
                    <div class="sizes">
                        @foreach (ProductVariant productVariant in ViewBag.DefaultProductVariantsForSizes)
                        {

                            if (productVariant.SizeId == ViewBag.ProductVariant.SizeId)
                            {
                                <a href="@Url.RouteUrl("ProductDetail", new{id=productVariant.Id})" style="color: red; font-weight: bold;">@productVariant.SizeId</a>
                            }
                            else
                            {
                                <a href="@Url.RouteUrl("ProductDetail", new{id=productVariant.Id})">@productVariant.SizeId</a>
                            }
                        }
                    </div>
                </div>
            </div>
            <hr class="hr-splitter">
            <p class="in-stock">@(ViewBag.ProductVariant.RemainingStock > 0 ? "Skladem" : "Není skladem")</p>
            <p class="price-before-discount reset-margin">@ViewBag.ProductVariant.Price Kč</p>
            <div class="price-button-container">
                <p class="product-price">@ViewBag.ProductVariant.PriceDiscount Kč</p>
                <button class="add-to-basket-button"><p>Přidat do košíku</p></button>
            </div>
        </div>
    </div>
    <div class="info-params">
        <div class="product-info">
            <p class="info-header">Informace o produktu</p>
            <p>
                @ViewBag.ProductVariant.Product.Description
            </p>
        </div>

        <div class="params-container">
            <div class="params-header"><p>Parametry produktu</p></div>
            <div class="product-params">
                <div class="blue-background"><p class="bold-text">Barva</p></div>
                <div class="blue-background"><p>@ViewBag.ProductVariant.Color.Name</p></div>
                <div><p class="bold-text">Druh</p></div>
                <div><p>@ViewBag.ProductVariant.Product.Type</p></div>
                <div class="blue-background"><p class="bold-text">Materiál</p></div>
                <div class="blue-background"><p>@ViewBag.ProductVariant.Product.Material</p></div>
                <div><p class="bold-text">Určení</p></div>
                <div><p>@ViewBag.ProductVariant.Product.Purpose</p></div>
                <div class="blue-background"><p class="bold-text">Kód</p></div>
                <div class="blue-background"><p>@ViewBag.ProductVariant.Product.Code</p></div>
            </div>
        </div>
    </div>
</div>

<div class="divider"></div>

<div class="text-container">
    <p class="redText">Mohlo by se&#160;</p>
    <p class="blueText">Vám líbit</p>
</div>

<div class="new-stock">
    <div class="new-stock-boots">
        <img src="../images/15146773-eb93-11eb-9461-02420a000b04.png" height="280" width="250" alt="">
        <p class="new-stock-boots-text new-stock-text-margin">Papučky barefoot hnědé <br> kožené</p>
        <div class="price">
            <p class="text-price">529 Kč</p>
            <p class="old-price">699 Kč</p>
        </div>
    </div>
    <div class="new-stock-boots">
        <img src="../images/79ec4063-e3fd-11eb-8d3f-02420a000b23.png" height="280" width="250" alt="">
        <p class="new-stock-boots-text">Papučky barefoot růžové</p>
        <div class="price">
            <p class="text-price">529 Kč</p>
            <p class="old-price">699 Kč</p>
        </div>
    </div>
    <div class="new-stock-boots">
        <img src="../images/7c895c56-e3fd-11eb-8d3f-02420a000b23.png" height="280" width="250" alt="">
        <p class="new-stock-boots-text">Sandálky modré umělé</p>
        <div class="price">
            <p class="text-price">529 Kč</p>
            <p class="old-price">699 Kč</p>
        </div>
    </div>
    <div class=new-stock-boots>
        <img src="../images/8291fafa-e3fd-11eb-8d3f-02420a000b23.png" height="280" width="250" alt="">
        <p class="new-stock-boots-text new-stock-text-margin">Netlačící boty s vysokou <br> špičkou</p>
        <div class="price">
            <p class="text-price">529 Kč</p>
            <p class="old-price">699 Kč</p>
        </div>
    </div>
</div>