@using BootShop.Models;

@{
    Layout = "~/Views/Shop/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="../css/shipping_and_payment.css">

<div class="path">
    <a href="@Url.RouteUrl("Home")">Domů</a>
    <span>></span>
    <a href="@Url.RouteUrl("ShoppingCart")">Košík</a>
    <span>></span>
    <a href="@Url.RouteUrl("CustomerInfo")">Kontakt a Adresa</a>
    <span>></span>
    <a href="@Url.RouteUrl("ShippingAndPayment")">Doprava a Platba</a>
</div>

<h2>Doprava</h2>

<div class="contact-container">
    <p class="contact-label">Kontakt:</p>
    <p>@ViewBag.customerInfo</p>
    <a href="@Url.RouteUrl("CustomerInfo")">Změnit</a>
</div>

<div class="address-container">
    <p class="address-label">Adresa:</p>
    <p><p>@ViewBag.customerAddress</p></p>
    <a href="@Url.RouteUrl("CustomerInfo")">Změnit</a>
</div>

<form method="post">
<h2>Dopravní společnost</h2>

<div class="shipping">
    <select name="deliveryMethod" id="delivery_method" required>
        <option value="">-- vyber typ dopravy --</option>
        @foreach (DeliveryMethod deliveryMethod in ViewBag.DeliveryMethods)
        {
            <option value="@deliveryMethod.Id">@deliveryMethod.Name</option>
        }
    </select>
</div>

<h2>Platba</h2>

<div class="payment">
    <select name="paymentMethod" id="" required>
        <option value="">-- vyber typ platby --</option>
        @foreach (PaymentMethod paymentMethod in ViewBag.PaymentMethods)
        {
            <option value="@paymentMethod.Id">@paymentMethod.Name</option>
        }
    </select>
</div>


<div class="return-continue">
    <a class="return-to-information" href="@Url.RouteUrl("CustomerInfo")">< Vrátit se k informacím</a>
    <button>Dokončit objednávku</button>
</div>
</form>